html,
body {
  font-size: 16px;
  
}
.container {
    margin: 0 auto;
    width: 1200px;
  }

.show {
    display: block;
  }

.hide {
    display: none;
  }

button {
    background-color: pink;
    color: white;
    padding: 0.25rem 0.5rem;
    border: 1px solid white;
    text-transform: uppercase;
    
  }

.splash {
    width: 1200px;
    height: 800px;
    background-image: url('images/example\ splash\ background.png');
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

canvas {
    margin: 0 auto;
    border: 1px solid black;
    background-color: deeppink;
  }